body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background: #e554731a;
    display: flex;


}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
    color: white;
    border: 0;
    font-size: 20px;
   
    font-weight: 700;

}
.banner{
   padding: 50px 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.banner-container{
    max-width: 500px;
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;

}
.banner-des{
    width: 634px;
    color:#272727;
    font-size: 18px;
    font-weight: 400;
   

}
.banner .profile-pic{
    margin: 50px 240px 0 100px;
    
width: 635px;
height: 800px;

}
